<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Passing a Slices of Structs</title>
</head>
<body>

    {{ $colegio := . }}
    {{ range $index, $value := $colegio }}
        <ul>
            <li>{{ $index }} => {{ $value.Nombre }}
                {{ range $i, $v := $value.Asignaturas }}
                    <ul>
                        <li>{{ $i }} => {{ $v.Nombre }} </li>
                    </ul>
                {{ end }}
            </li>
        </ul>
    {{ end }}
    
</body>
</html>